saved_images/*
!saved_images/193600_genM_input.png
!saved_images/193600_genM_output.png
!saved_images/194400_genF_input.png
!saved_images/194400_genF_output.png
!saved_images/194400_genM_input.png
!saved_images/194400_genM_output.png
!saved_images/195200_genF_input.png
!saved_images/195200_genF_output.png
!saved_images/195200_genM_input.png
!saved_images/195200_genM_output.png
!saved_images/196000_genF_input.png
!saved_images/196000_genF_output.png
!saved_images/196000_genM_input.png
!saved_images/196000_genM_output.png
!saved_images/196800_genF_input.png
!saved_images/196800_genF_output.png
!saved_images/196800_genM_input.png
!saved_images/196800_genM_output.png
!saved_images/197600_genF_input.png
!saved_images/197600_genF_output.png
!saved_images/197600_genM_input.png
!saved_images/197600_genM_output.png
!saved_images/198400_genF_input.png
!saved_images/198400_genF_output.png
!saved_images/198400_genM_input.png
!saved_images/198400_genM_output.png
!saved_images/199200_genF_input.png
!saved_images/199200_genF_output.png
!saved_images/199200_genM_input.png
!saved_images/199200_genM_output.png
!saved_images/200000_genF_input.png
!saved_images/200000_genF_output.png
!saved_images/200000_genM_input.png
!saved_images/200000_genM_output.png

webcam_example/*
!webcam_example/example.gif

CelebA_HQ/
test_images/

epoch*
gender_classifier.pth
